*{
box-sizing:border-box;
font-family:Segoe UI;
}


body{

margin:0;
background:#f4f7fb;

}



header{

background:#062a5c;
color:white;
text-align:center;
padding:25px;

}



.logo{

width:180px;

}



.search{

padding:20px;

}


input{

width:100%;
padding:15px;
border-radius:12px;
border:1px solid #ddd;

}



nav{

display:flex;
gap:10px;
justify-content:center;

}


button{

background:#ff7a00;
color:white;
border:0;
padding:12px 20px;
border-radius:10px;

}



.page{

padding:20px;

}



.hide{

display:none;

}




.grid{

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.menu,
.card{

background:white;
padding:20px;
border-radius:18px;
box-shadow:
0 5px 15px #ddd;

}



a{

display:block;
margin-top:15px;
background:#062a5c;
color:white;
padding:12px;
text-align:center;
border-radius:10px;
text-decoration:none;

}



footer{

text-align:center;
padding:20px;

}
